.img {

    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    padding: 20px;
}

.review {
    background-color: rgb(155, 145, 138);
    margin: 20px;
    border: 40px solid white;
    color: aliceblue;
}